html,
body {
    overflow: hidden;
    position: relative;
    height: 100%;

    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h1{
  color:white;
}

.canvas{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.faceCanvas {
  width: 60%;
  height: 50%;
}

.faceSketch {
  display:block;
  padding-top:40px;
}
.face {
  height: 40vw;
  width: 40vw;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
}

input[type=submit]{
  background-color :transparent !important;
  border: none!important;
  color: black;
  padding: 10px 20px;

  text-decoration: none;
  display: inline-block;
  text-align:left;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
   position:relative;
}

input[type=submit]:hover{
  color: grey;
}



input[type=submit]:focus{background-color:black;}

button {
  background-color :transparent !important;
  border: none;
  color: black;

  padding: 10px 20px;
  text-align:left;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer
   position:relative;
}
button:hover{
  color: grey;
}

button:focus{background-color:black;}

.button {
  background-color:white !important;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;

  font-size:1em;
  margin: 4px 2px;
  cursor: pointer;
   position:relative;
}

#button:hover{
  color: grey;
}


#button:focus{background-color:black;}


.JPO_open {
    font-size: 3em !important;


}

.submitbButton {
  border: none;
  background-color:white !important;
  color: black;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }


#JPO {
  padding:5%;
  height:90%;
  width:90%;
  background:white;
  justify-content: space-around;
}

label{

    font-size: 1em;

}

input {
    font-size: 1em;
}


.slider {
  padding:80px;
  -webkit-appearance: none;
  width: 60%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: grey !important;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: grey !important;
  cursor: pointer;
}


@media screen and (max-width: 1000px) {


  #JPO{
    padding:5%;
    height:70%;
    width:50%;
    background:white;

  }



  .JPO_open {
      font-size: 70px !important;


  }

#button {
font-size: 15px!important;

}




button .label{
  text-align: left;
}



.JPO_close {


  font-size: 10px!important;

}

  label{

      font-size: 10px!important;

  }

  input {
      font-size: 10px!important;
  }

}
